h1 {
	font-size: 22px;
	text-align: center;
	font-family: verdana;
}
body {
    background-color: rgb(0, 162, 232);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
}
a {
	text-decoration: none;
}
#letter {
	color: rgb(136,0,21);
	font-size: 22px;
	font-family: verdana;
}
.middle {
    background-color: rgb(153, 217, 234);
    text-align: center;
	height: 100vh;
}
.menu {
    margin: auto;
    padding: 1%;
    width: 30%;
    background-color: rgb(63, 72, 204);
}
.menuelement {
    color: black;
    background-color: rgb(0, 162, 232);
    font-weight: bold;
	font-size: 18px;
	font-family: verdana;
}
.menuelement:hover {
    background-color: rgb(63, 72, 204);
}